
<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./css/about.css"> 
  <link rel="stylesheet" type="text/css" href="./css/foot.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
  <link href='https://fonts.googleapis.com/css?family=Maven Pro' rel='stylesheet'>
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  <style>

      
      *{
  font-family: Maven Pro;
}
  h3{
    font-size: 29px;
    color: black;
    text-align: center;
    text-decoration: underline;
  }
  
  h3:hover {
   color: #8ac832;
   font-size: 31px;
   
  }

h4{
    text-shadow: 2px 2px 8px #8ac832;
}
  </style>
</header>

<body>

<div class="container">
  
  <div class="row">
    
      <div class="col-md-12">
        <center>
        <h3><b>About us</b></h3>
        </center>
        <br/>
      </div>  
      <div class="col-md-6 ">
        <img src="./assets/img/Artboard-5.png" 
            style="width:80%">
      </div>
      <div class="col-md-6">
              <p>All Startup things at one place!</p>
              <p>ExMyB is a Platform which connects visionary Investors with SME'S, Early-stage
                 Start-ups and even established businesses. It is an exclusive cross connection
                 platform which helps one connect to different options at a single point destination
                 and hence helps you connect with potential business opportunities through various 
                 channels.</p>
              <p>Driven by a team of very trust-worthy and certified group of people, ExMyB keeps
              in mind the benefit of the involved parties. ExMyB offers a user friendly interface
              so that no obstacle can restrict a business from expanding, making it a one of a
              kind platform. The primary motive of the company is to facilitate trade and build
              a strong business network among the community. ExMyB helps one connect,
              grow and expand in the business space no matter how big or small you are!</p>
      </div> 
          
      <div class="col-md-12">
        <center>
        <h3><b>How We Work</b></h3>
        </center>
        <br/>
        <br><br>
      </div>  
      <div class="col-md-4">
          <h4><strong>Phase 01</strong></h4>
          <p>Through the use of our technology product enabled by
            artificial intelligence and algorithms, startups get
            screened and shortlisted for phase 2.
          </p>
      </div>
      <div class="col-md-4">
          <h4><strong>Phase 02</strong></h4>
          <p>Our due diligence team,with their offline involvement 
          and expertise helps further shortlist the desirable lot of investors.
         </p>
      </div>
      <div class="col-md-4">
         <h4><strong>Phase 03</strong></h4>
         <p>Post 2 rounds of screening the qualified startups are
          helped by us to meet the investors and an effort is
          made to make a deal!</p>
      </div>
          
      <div class="col-md-12">
        <center>
        <h3><b>What We Offer</b></h3>
        </center>
        <br/>
      </div> 
      <div class="col-md-4">  
        <center> 
        <img src="./assets/img/Artboard-9.png" 
          style="width: 150px;">
        </center>  
         <p>Verified Investors and Businesses</p>
      </div>
      <div class="col-md-4">
          <center>
          <img src="./assets/img/Artboard-10.png" 
           style="width: 150px;">
           </center>
          <p>A cross connection between various people to find potential 
           business partner(s), deals or and investors.</p>
          
      </div>
      <div class="col-md-4">
          <center>
         <img src="./assets/img/Artboard-11.png" 
          style="width: 150px;">
         </center> 
         <p>
           Customised solutions for specific business requirements
         </p>    
      </div>

<div class="col-md-12">
        <center>
        <h3><b>Who We Benefit</b></h3>
        </center>
        <br/>
      </div>
      <div class="col-md-8">
        <center>
           <img src="./assets/img/Artboard-12.png" 
                style="width: 294px;">
        </center>        
      </div>
      <div class="col-md-4">
        <ol>
          <li>Start-ups</li><br>
          <li>Brokers</li><br>
          <li>Family Business</li><br>
          <li>Investors</li><br>
          <li>Merchants</li><br>
          <li>Professionals</li><br>
          <li>Small Business</li><br>
         <li>Industrialists</li>
        </ol>  
      </div>
        
    
  </div>
</div>
</body>

        
        
 

<footer class="border-top border-light">
    <hr>
    <div class="container text-center text-md-left"
         style= "background-color:white; font-size: 15px; height:100px;">
    
          <div class="row">
                
            <div class="col-md-2 mx-auto">
               <img src="./assets/img/ExMyB_Logo.png" style="width: 115px; height: 130px; margin-top: -42px;">
               <br>
              <p style="margin-top: -30px; padding-left: 21px;"> <small>© 2018-2019</small></p>
            </div>
            
            <div class="col-md-2 mx-auto">
             <h5>About</h5>
             <ul class="list-unstyled" >
                    <li><a href="about.html" style=" color :black;">About us</a></li>
                    <li><a href="bocards.html" style=" color :black;">For Business Owners</a></li>
                    <li><a href="incards.html" style=" color :black;">For Investors</a></li>
             </ul>
            </div> 
           
            <div class="col-md-2 mx-auto">
              <h5>Explore</h5>
              <ul class="list-unstyled">
                <li><a href="login.html" style=" color :black;">Login</a></li>
                <li><a href="faq.html" style=" color :black;">FAQs</a></li>
                <li><a href="blog.html" style=" color :black;">Blog</a></li>
              </ul>
            </div>
            
            <div class="col-md-2 mx-auto">
              <h5>Follow Us</h5>
              <ul class="list-unstyled">
              <li>
                <a class="fab fa-facebook-f" 
                   href="https://www.facebook.com/ExMyB/" 
                   id="fb"></a>
                <a class="fab fa-instagram" 
                 href="https://www.instagram.com/ExMyB/" 
                 id="insta"></a>
                <a class="fab fa-linkedin-in" 
                 href="https://www.linkedin.com/company/expand-my-business/" 
                 id="lin">
                </a>
              </li> 
              </ul>    
            </div>
    
       <div class="col-md-2 mx-auto">
            <h5>Contact</h5>
            <p style="color: #6a6e71">contact@exmyb.com</p>
       </div>
    
          </div>

    </div>     
  <!--script type="text/javascript" src="./js/about.js"></script!-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</footer>
</html>