{% include 'nav.html' %}
{% block content %}
{% endblock %}


<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="./css/faq.css">   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Maven Pro' rel='stylesheet'>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <style>
        *{
    font-family: Maven Pro;
}
.heading{  
    color: #8ac832;
    
    margin-top: 44px;
    }
.fa-chevron-circle-down:hover{
     color:#8ac832;;

    }
#one, #two, #three, #four, #five, #six,
#seven, #eight, #nine, #ten, #eleven, #twelve{
   /* border: 3px solid #d9e0d92e;
    box-shadow: 2px 2px 2px 2px #f1e8e838;*/
    width: 65%;
    height: 51px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-left: 206px;
}

#qone, #qtwo, #qthree, #qfour, #qfive, #qsix,
#qseven, #qeight, #qnine, #qten, #qeleven, #qtwelve{
    color: black;
    background-color: white;
    height:auto;
    border: 2px solid black;
    box-shadow: 2px 2px 4px 4px #f4f4f4;  
    padding: 13px;
    margin-bottom: 20px;
}
#qone:hover, #qtwo:hover, #qthree:hover, #qfour:hover, #qfive:hover, #qsix:hover,
#qseven:hover, #qeight:hover, #qnine:hover, #qten:hover, #qeleven:hover, #qtwelve:hover{
    color: #8ac832;
    border-top: 2px solid black;

}
#aone, #atwo, #athree, #afour, #afive, #asix,
#aseven, #aeight, #anine, #aten, #aeleven, #atwelve{
    display: none;
    color: black;
    background-color: white;
    height:auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;

}
#qone:hover #aone, #qtwo:hover #atwo,#qthree:hover #athree, #qfour:hover #afour, #qfive:hover #afive,
 #qsix:hover #asix,#qseven:hover #aseven, #qeight:hover #aeight, #qnine:hover #anine,
  #qten:hover #aten, #qeleven:hover #aeleven, #qtwelve:hover #atwelve {
    display: block;
}
    </style>
</header>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <center><h1 class="heading"><b>FAQ's</b></h1></center>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">

                        <div class="col-md-12" id="qone">
                            Is ExMyB an investor itself?<i class="fa fa-chevron-circle-down"></i>  
                               <div class="row">
                                   <div class="col-md-10" id="aone">
                                       No, Presently ExMyB only helps to connect business 
                                       (startups/SMEs etc.) with investors.
                                   </div>
                                </div>

                        </div>  
                        
        
                        <div class="col-md-12" id="qtwo">
                            What is this BAT all about? What is the special part about it?
                                <i class="fa fa-chevron-circle-down"></i>
                             <div class="row">
                                  <div class="col-md-10" id="atwo">BAT is arguably your best way to connect with investors and possible fast forward the procedure (subject to qualification). Also, through BAT, 
                            ExMyB would help you to under the gap analysis if any.
                                  </div>
                             </div>     
                        </div> 

                        <div class="col-md-12" id="qthree">
                                How to register as an Investor?<i class="fa fa-chevron-circle-down"></i>  
                                <div class="row">
                                    <div class="col-md-10" id="athree">
                                            Create your investor profile through the homepage and 
                                            look at potential business ideas or fellow investors.
                                       </div>
                                </div>
                                    
                        </div>  
                            
            
                        <div class="col-md-12" id="qfour">
                                Does ExMyB reveal my personal details?
                                    <i class="fa fa-chevron-circle-down"></i>
                                 <div class="row">
                                      <div class="col-md-10" id="afour">
                                            Information around your interest basis 
                                            investment / business is put across in an intelligent manner for the 
                                            other person to have an understanding of your proposition. 
                                            Post that, if deals progresses forward, ExMyB holds the right
                                             to let the parties know about other details too post validation.
                                      </div>
                                 </div>     
                        </div>

<div class="col-md-12" id="qfive">
                                Post successful connection; are there any formalities that needs to be completed?<i class="fa fa-chevron-circle-down"></i>  
                                   <div class="row">
                                       <div class="col-md-10" id="afive">
                                            Yes, once the deal is successfully closed, as per the Terms & Conditions agreed by the business, a transcript of the transactional information is given to ExMyB and the further due diligence is done upon that.
                                            ExMyB charges a success fee varying from 2.5%-3% basis amount of deal.
                                       </div>
                                    </div>
                                    
                        </div>  
                            
            
                        <div class="col-md-12" id="qsix">
                            Is there any limitation on the industry of startup?
                                    <i class="fa fa-chevron-circle-down"></i>
                                 <div class="row">
                                      <div class="col-md-10" id="asix">
                                            No, ExMyB has a pool of investors having 
                                            different requirements to go ahead with their investments. If you and 
                                            your business match the set of expectations, there is no cap or restriction 
                                            on any type.
                                      </div>
                                 </div>     
                        </div> 

                        <div class="col-md-12" id="qseven">
                                How do I seek investment for my business on ExMyB?<i class="fa fa-chevron-circle-down"></i>  
                                   <div class="row">
                                       <div class="col-md-10" id="aseven">
                                            It is very easy to set up your profile that helps you seek out investment on ExMyB and get connected and network with potential investors. For the process to start, create a basic profile by filling out some questions required to make your profile. Once an account is created, write the BAT and our offline team gets in touch with you regarding the same.
                                            Also explained through diagrams in services section.
                                       </div>
                                    </div>
                                    
                        </div>  
                            
            
                        <div class="col-md-12" id="qeight">
                                What if the startup fails?
                                    <i class="fa fa-chevron-circle-down"></i>
                                 <div class="row">
                                      <div class="col-md-10" id="aeight">
                                            The money invested by an investor is finally his/ her own decision and ExMyB hold no responsibility with respect to what the future of the company holds. Also, the terms and conditions between the founder and investor can be mutually decided upon and put across in the Share Holder Agreement.
                                      </div>
                                 </div>     
                        </div>


<div class="col-md-12" id="qnine">
                                Are Non residential Indians 
                                or and Foreigners permitted to invest in Indian companies?<i class="fa fa-chevron-circle-down"></i>  
                                   <div class="row">
                                       <div class="col-md-10" id="anine">
                                            YES. As per the Foreign Direct 
                                            Investment Policy of India.
                                       </div>
                                    </div>
                                    
                        </div>  
                            
            
                        <div class="col-md-12" id="qten">
                                Is ExMyB SEBI compliant?
                                    <i class="fa fa-chevron-circle-down"></i>
                                 <div class="row">
                                      <div class="col-md-10" id="aten">ExMyB does not act as a stock market in a
                                            ny capacity thus falls in line with any SEBI guideline. 
                                      </div>
                                 </div>     
                        </div> 
                        
                        
                        <div class="col-md-12" id="qeleven">
                                What the services offered by ExMyB?<i class="fa fa-chevron-circle-down"></i>  
                                   <div class="row">
                                       <div class="col-md-10" id="aeleven">
                                            The services tab at the top of 
                                            the homepage reflects upon the other services offered.
                                       </div>
                                    </div>
                                    
                        </div>  
                            
            
                        <div class="col-md-12" id="qtwelve">
                                How can I partner with ExMyB? 
                                    <i class="fa fa-chevron-circle-down"></i>
                                 <div class="row">
                                      <div class="col-md-10" id="atwelve">Write into us at connect@exmyb.com 
                                            and we shall get back to you within 72 hours.
                                      </div>
                                 </div>     
                        </div> 


                </div>    
            </div>
            <div class="col-md-3"></div>
        </div>    
    </div> 
    
    
{% include 'foot.html' %}

</body>


</html>