<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/pp.css"> 
    <link rel="stylesheet" type="text/css" href="./css/foot.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link href='https://fonts.googleapis.com/css?family=Maven Pro' rel='stylesheet'>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <style>
    #pphead{
    font-size: 29px;
    color: #8ac832;
    
}

#ppmain{
    padding: 30px;
}
    
    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12" id="pphead">
      <center>
        <h2><b>Privacy Policy</b></h2>
        <br><br>
      </center>
    </div>
  
    <div class="col-md-12" id="ppmain">
    <p>
          Mantarav Pvt Ltd.‏ is a private limited company (Registered name) 
          having its registered office at S29/3 DLF Phase 3, Gurgaon – 122010. 
          (We, Us, Expand My Business or Our, which expression shall mean and 
          include its affiliates, successors and permitted assigns) and provides 
          certain services on website<strong> https://www.exmyb.com</strong> (Website).
          This Website is owned and operated by Mantarav Pvt Ltd.
    </p>      

    <p>
        This privacy policy (Policy) constitutes a legal agreement between You 
        (You or Your, User), as the user of the Website, and Expand My Business, 
        as the owner of the Website. This Policy is only applicable to the Users 
        of the Website, and the information and data gathered from the Users directly 
        and not to any other information or website. You are hereby advised to read 
        this Policy carefully and fully understand the nature and purpose of gathering
        and/or collecting sensitive, personal and other information and the usage, 
        disclosure and sharing of such information.
    </p>

    <p>
        Expand My Business is fully committed to protecting your confidential 
        information. If you as a visitor choose to register or submit information 
        to this website, you agree to the use of such data in accordance with this 
        privacy policy. Please note that this website may contain links to other 
        sites which may not be governed by this privacy policy.
    </p>

    <p>
      We collect and store confidential information including, but not limited 
      to your name, email address, telephone numbers, your company information, 
      financial information, based on your activities on the website, computer 
      and connection information, statistics on page views, traffic information, 
      ad data, IP address, standard web log information and supplemental information
      from third parties such as Google Analytics. If you would like to opt out of 
      such implementations please stop using the website. Any confidential document 
      shared with Expand My Business for professional services will only be used for
      the intended purpose and will not be shared with any external party.
    </p>
 
    <a>
     We may use your confidential information for the following purposes:
      <ol>
        <li>To display your profile/advertisement on the website to facilitate our services.</li>
        <li>To provide contact information to relevant parties after your approval.</li>
        <li>To derive and share industry knowledge</li>
        <li>To send you information about Expand My Business, our products, our
            services, service updates, and promotional offers.</li>
        <li>To improve our services, collect fees, enforce our policies, and 
            enforce our Terms and Conditions.</li>
        <li> To resolve disputes, respond to legal requirements, prevent 
            potentially prohibited or illegal activities, and protect anyone's 
            rights, property, and safety.
        </li>
     </ol>
    </a>
    

    <p>


We might post testimonials on our website obtained from users' and these could 
      include your name, company, city, and other personal information. If you are a
      registered user representing a company, Expand My Business, without disclosing
      your transaction details, may use your company name and logo on its website, 
      promotional materials, or other write-ups unless you request otherwise.
    </p>

    <p>
      Expand My Business is fully committed to protecting your confidential information. 
      But in unforeseen circumstances of technical failures or malfunctions, Expand My 
      Business will not be responsible for any damage or loss resulting from it.
    </p>

    <p>
      If Expand My Business undergoes merger, acquisition or an asset sale and your 
      confidential information is part of the transferred assets, the new privacy policy 
      decided at the time of the transaction would govern your confidential information. 
      Any changes to the privacy policy governing your information as a result of a 
      transaction would be communicated on the website or by email.
    </p>

    
    <p>
      When you receive contact details of potential counterparties, the counterparty 
      reserves the right to remove their information from your database.
    </p>

    <p>
     If you would like to close your account, please contact us and we shall process
     your request at the earliest. We regularly clean our data and might close your 
     account if your account for inactivity or for any other reason which may improve 
     our website. We retain confidential information from closed accounts to derive 
     industry knowledge, comply with the law, prevent fraud, collect any fees owed, 
     resolve disputes and take other actions otherwise permitted by law.
    </p>

    <p>
      We reserve the right to amend this Privacy Policy at any time and for any reason. 
      If there is any problem or clarity required on a further topic, do email us at 
      <strong>contact@exmyb.com</strong> and we will get back to you.

    </p>

    </div>
  </div>
</div>    
</body>
<footer>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


<hr>
    <div class="container text-center text-md-left"
         style= "background-color:white; font-size: 15px; height:100px;">
    
          <div class="row">
                
            <div class="col-md-2 mx-auto">
               <img src="./assets/img/ExMyB_Logo.png" style="width: 115px; height: 130px; margin-top: -42px;">
               <br>
              <p style="margin-top: -30px; padding-left: 21px;"> <small>© 2018-2019</small></p>
            </div>
            
            <div class="col-md-2 mx-auto">
             <h5>About</h5>
             <ul class="list-unstyled" >
                    <li><a href="about.html" style=" color :black;">About us</a></li>
                    <li><a href="bocards.html" style=" color :black;">For Business Owners</a></li>
                    <li><a href="incards.html" style=" color :black;">For Investors</a></li>
             </ul>
            </div> 
           
            <div class="col-md-2 mx-auto">
              <h5>Explore</h5>
              <ul class="list-unstyled">
                <li><a href="login.html" style=" color :black;">Login</a></li>
                <li><a href="faq.html" style=" color :black;">FAQs</a></li>
                <li><a href="blog.html" style=" color :black;">Blog</a></li>
              </ul>
            </div>
            
            <div class="col-md-2 mx-auto">
              <h5>Follow Us</h5>
              <ul class="list-unstyled">
              <li>
                <a class="fab fa-facebook-f" 
                   href="https://www.facebook.com/ExMyB/" 
                   id="fb"></a>
                <a class="fab fa-instagram" 
                 href="https://www.instagram.com/ExMyB/" 
                 id="insta"></a>
                <a class="fab fa-linkedin-in" 
                 href="https://www.linkedin.com/company/expand-my-business/" 
                 id="lin">
                </a>
              </li> 
              </ul>    
            </div>
    
       <div class="col-md-2 mx-auto">
            <h5>Contact</h5>
            <p style="color: #6a6e71">contact@exmyb.com</p>
       </div>
    
          </div>

    </div>     
</footer>
</html>