<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/head.css"> 
    <link rel="stylesheet" type="text/css" href="./css/foot.css">  
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link href='https://fonts.googleapis.com/css?family=Maven Pro' rel='stylesheet'>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




   <style>
     .full-wd{
    width: 100vw;
    overflow-x: hidden;
    padding: 50px 0px;
    background-color: #E9F4D9;
    margin-top: 50px;
}
.bat{

 
    overflow-x: hidden;
    padding: 15px 10px;
    background-color:white;
    color:black;
    margin-top: 50px;

}

button{
  width: auto;
                margin-top: -10px;
                height: auto;
                padding: 10px;
                background-color: #8ac832;
                color: white;
                border: transparent;
                font-size: 20px; 
}

.need{

  overflow-x: hidden;
    padding: 15px 10px;
    background-color: #8ac832;
  color:black;
    margin-top: 50px;

               

}
   
 </style>
                     
</head>

<body>
{% include 'nav.html' %} 
<br><br><br>
<section id="sec1">
 <div class="container" margin-top="30px">

  <div clas="row " > 
        <h2> 
<i class="fa fa-check-square-o" style="font-size:50px;color:#8ac832"></i> &nbsp;SERVICES   <br> </h2>

<div class="col-md-12">

   

   

  <div class="row">
  <div class="col-sm-5">
<img width="450px" class="img-fluid" src="https://www.exmyb.com/img/BAT_Illustration.png"></div>
<div class="col-sm-7"><br><br>
<h3> <i class="fa fa-chain"></i> <a href="#sec1">Business Aptitude Test </a>| <a href="#sec2">Business Registration </a> | <a href="#sec3">Pitch Deck</a> | <a href="#sec4">Financial Documents</a></h3>

• What is the BAT? <br>
Series of questions<br><br>

    • What does it do? <br>
Portrays an accurate assessment of company’s profile while evaluating the shortcomings and matches potential investors.<br><br>

    • Why us? <br>
Expert industry knowledge, realistic outlook and highlighting key details<br><br>


    • What’s in it for you?<br>
Reach right people from pool of choices and find where you actually stand in the industry<br><br>


<button  >Read More</button>

</div>
</div></div>
</div></div>
</section>
<br><br>
<section class="full-wd" id="sec2">
  <div class="container">
    <div class="row">

<div class="col-md-12">
    
  <div class="row">
      <div class="col-sm-7">
         <h2><i class="fa fa-file-text" style="font-size:24px"></i>  What is the BAT?</h2>  <br>
         <p>

            BAT is a series of questions delivered to businesses designed to give an accurate assessment of the company’s profile. Take the BAT and get a realistic outlook of where you stand in your industry.
            After collaborating with reputed investors, top venture capitalists, the revolutionary BAT is extremely well formulated to accurately highlight key details in every business.
            Formulated by ExMyB’s unique algorithm inspired by the Berkus Model and the Harvard model, get the most precise representation of how attractable you stand in front of the investors.<br><br>


            Expand My Business is a one-stop solution for businesses and entrepreneurs.

         <section class="bat"> <b> in the BAT today and get a chance to qualify yourself for top investors 
              in India and around the world. With connections all across the industry, ExMyB 
              can help you reach the right people in the particular industry and help you grow and get guided</b></section>


        </p>
        
        <br>
        
        
        
        </div>
    
    <div class="col-sm-5">
      <img width="450px" class="img-fluid" src="https://raw.githubusercontent.com/1cvam/1cvam.github.io/master/assets/img/website1.png">
    
    <center><button class="mt-5">Give Bat </button></center>
   
  </div>
    
    
   
    </div>
  
</div></div></div></section>




<section id="sec1">

<div class="container mt-5">
    <div class="row">


      <div class="col-sm-12">
         <h2><i class="fa fa-file-text" style="font-size:24px"></i> Business Registration  </h2>  <br>

         <p>


            Picking the right company structure for your business is as important as any other business-related activity. The right business structure will allow your enterprise to operate efficiently and meet the required business targets. Incorporating a business can be a lengthy and complicated process in India, where every business must register themselves as part of the mandatory legal compliance.

            ExMyB is committed to empowering entrepreneurs in this space and making all founders in India start up ready. ExMyB helps entrepreneurs in getting their feet of the ground and give that required kickstart for companies to take the next step and advise on all possible situations.
            
            We at Expand My Business are a team of professionals dedicated to serve new startups in setting up the business. We understand that it is very difficult for a new startups and founders to establish many ground concepts in business without the help of professionals for which they have to spend huge amounts. 
            
            What do we need from your side:<br><br>
            
            <div class="card bg-dark text-white">
                <div class="card-body">




                    1) Photo - passport size photograph<br>
            
                    2) Address Proof - Latest Bank statement/ Utility bill in the name of director which should not be older than two months<br>
                
                    3) ID Proof - Scanned copy of PAN Card of all directors and Aadhar card/ Voter ID/ Passport/ Driving License<br>
                
                    4) Registered Office Proof - No Objection Certificate (NOC) from the owner, Utility bill (should not be older than two months) and Notarized Rent agreement (in case of rented property)/ Registry Proof or House Tax Receipt (in case of owned property).<br>

                </div>
              </div> 
             

         </p>
        
        
        
        
        
        
        </div>
    
   </div></div>

  </section>


   <section class="full-wd" id="sec3">

<div class="container">
  <div clss="row">
    <div class="col-md-12"><h2><i class="fa fa-file-text" style="font-size:24px"></i> Pitch Deck </h2>
    
    <p>

        You don’t get a 2nd chance to make the 1st impression, so make it count!<br><br>


        A pitch deck is a brief presentation that provides investors with an overview of your business, whether it’s showcasing your product, sharing your business model, giving a look into your monetization strategy or introducing your team. You will use your pitch deck during face-to-face or online meetings with potential investors, customers, partners, and co-founders.
        
        Your pitch deck is your first deliverable to the investors, so get professional help to give it your best shot!<br><br>
        
        Despite the briefness of the presentations, creating a pitch deck that wins investment is no easy task. If you’ve never done it before and you’re a first-time entrepreneur, it can be incredibly overwhelming. To help you with this task, we’ve taken cues from top startups who’ve raised money from angel investors and VCs with effective pitch decks. We have worked with over 80 clients to help them with their pitch decks. The experience includes working with client requirements and varied across IMs, business reports, elevator pitch and pitch decks.
        
        We work on strict timelines and all our work is theme based where a team of 4 people are dedicated for the task including graphics, research etc.




    </p>
    
    
    
    
    </div>
    




  </div>
</div>
</section>
<section id="sec4">

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
        <h2><i class="fa fa-file-text" style="font-size:24px"></i> Financial Documents </h2><br><br>


  <p>

    Financial documents are vital tools for analysing the success of a business. If everything is going well, founders will be asked for their financial documents. These should cover a few aspects of the business, from the revenue forecasts to the operational expenses to the company’s cash flow.<br>
    
    The complexity of these documents can range from a single slide in your pitch deck showing some baseline guesses on where revenues will come from, to highly complicated Excel document that involve macros and formulas changing outcomes based on key assumptions and scenarios.<br><br>
    For general purposes you’ll need to cover at least a few aspects of your financial picture.<br><br>
    
    Every meeting with an investor will eventually always boil down to the numbers of the business, where a lot of founders struggle to accurately showcase what their plans for the business are and where they see it going.<br>
    
    It is a must to be accurate in these documents and to highlight key figures and showcase what is really important. Investors can find the smallest of flaws or inaccuracies and that could be the reason of a deal going wrong. If you’ve never done it before and you’re a first-time entrepreneur, it can be incredibly overwhelming to come up with numbers precisely. We at ExMyB consist of a team of professionals dedicated to serve new startups in setting up the business in these fund-raising related services. We have worked with over 80 clients to help them with their financials. The experience includes working with client requirements and varied across IMs, business reports, elevator pitch and pitch decks.</p>

  </div></div></div></section>

{% include 'foot.html' %}



</html>
 
