
{% include 'nav.html' %}
{% block content %}
{% endblock %}
<!--
<!DOCTYPE html>
<html>
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="206689737250-57omnjb7va1fivk9qcg1hbppatvkgh6n.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

<body>

<h3> EXMYB TEST LOGIN </h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>*{
    font-family: Maven Pro;
}
#home_1, #home_2, #home_3, #home_4, #home_5, #home_6, #home_21, #home_22, #home_31, #home_32{
    color: black;
    font-size: 14px;
}
#home_1:hover,#home_2:hover,#home_3:hover, #home_4:hover, #home_5:hover, #home_6:hover,
#home_21:hover, #home_22:hover, #home_31:hover, #home_32:hover {
    color: #8ac832;
}
.bo-content, .in-content{
    height: auto;
    width: -1px;
    list-style: none;
    border-top: 2px solid #8ac832;
    text-align: left;
    box-shadow: 1px 1px 2px 2px #cac2c25c;
    display:none;
}
#home_2:hover .bo-content{
    display:block;
}
<a href="{%url 'signup'%}">Signup</a><br>
<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
<a href="{% url 'social:begin' backend='linkedin-oauth2' %}">Login with Linkedin</a>


</body>
</html>

-->
<br>
<br>
<br>
<br>
<br>
<br>

<!DOCTYPE html>
<html>

<header>
        <link rel="stylesheet" type="text/css" href="./css/login.css">
        <link rel="stylesheet" type="text/css" href="./css/foot.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <link href='https://fonts.googleapis.com/css?family=Maven Pro' rel='stylesheet'>
        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

  <style>
    *{
    font-family: Maven Pro;
}
#main{
    height: auto;
    padding: 10px;
    
    box-shadow: 2px 2px 5px 5px #e6ecdd70;
}
#log,#sign{
    background-color: #8ac832;
    color:white;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}
#log:hover,#sign:hover{
    background-color: #dbf2bb;
}
.input100{
     border: none;
     border-bottom: 1px solid black;
     overflow: hidden;
}
.input::after{
    background-color: transparent;
}

#connectgoogle,#connectlink {
    border-radius: 35px;
    width: 59px;
    height: auto;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 19px;
    border: none;
    
  }
  
  #connectgoogle:hover,#connectlink:hover {
      opacity: 0.7;
  }
  
  #connectgoogle {
    background: #dd4b39;
    color: white;
  }
  
  #connectlink {
    background: #007bb5;
    color: white;
  }
  </style>      
</header>

<body style="font-family:Maven Pro;">
    <div class="container">
        
         <div class="row">
            
            <div class="col-md-4"></div>
            
            
            <div class="col-md-4" id="main">
                <div class="row">
                    
                    <div class="col-md-3"></div>
                    
                    <div class="col-lg-6">
                       <center>  
                          <a   href="login.html">
                              <button type="button" id="log">Log In</button>
                          </a>    
                          <a href="signup.html">
                              <button type="button" id="sign">Sign Up</button>
                          </a>    
                       </center> 
                    </div>

                    <div class="col-md-3"></div>
                    
                    
                    <div class="w-100"></div>



                    <div class="col-md-12">
        
                           <form   method="post" >
                              <input type="hidden" name="csrfmiddlewaretoken" value="AWTRNaPOW1lPC3FWoBVlGg6MCuJUxWvR9suUYJWY2aACPTbTIBw1pCKJ5x59XGIF">
                              {% csrf_token %}
                            
                              <div class="wrap-input100 validate-input" 
                                 data-validate = "Email is required" style="padding:10px;">
                                 <a style="font-family: Maven Pro;font-size: 14px;">
                                    <i class="fas fa-envelope">&nbsp;Email</i>
                                 </a><br/>
                                 <input class="col-sm-12 input100" id="id_username"  autofocus="" required=""type="text" name="username">
                              </div>
                              <br/>
                    </div>
                    <div class="w-100"></div>

                    <div class="col-md-12">
                          
                            <div class="wrap-input100 validate-input" 
                               data-validate = "Password is required" style="padding:10px;">
                               <br/>
                               <a style="font-family: Maven Pro;font-size: 14px;">
                                  <i class="fas fa-lock">&nbsp;Password</i>
                               </a><br/>
                               <input class="col-sm-12 input100" id="id_password "  autofocus="" required="" type="password" name="password">
                            </div>
                  </div>

                    <div class="w-100"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <br>
                        <center>
                          <button type="submit" class="btn" 
                          style="background-color: #8ac832;
                          color:white;
                          border: none;
                          text-decoration: none;
                          padding: 10px;
                          border-radius: 4px;">Log In</button>
                        </center>

                      </form>  



                    </div>
                    <div class="col-md-4"></div>

                    <div class="w-100"></div>

                    <div class="col-md-12" style="padding-left:28px;">
                        <br>
                        <p style="font-size:14px;">Forgot Password?<a href="forgotpwd.html">&nbsp;Reset</a></p>
                    </div>

                    <div class="w-100"></div>


<div class="col-md-12">
                        <center>
                       <a style="font-size:14px;"><b>Or Login With</b></a>
                        </center>
                        <br/>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-lg-6">
                        <center> 
                            <a href="{% url 'social:begin' 'google-oauth2' %}"> <button href="#" class="fab fa-google" id="connectgoogle"></button></a>
                            <a href="{% url 'social:begin' backend='linkedin-oauth2' %}  <button href="#" class="fab fa-linkedin-in" id="connectlink"></button></a>
                                
                        </center>  
                    </div>
                    <div class="col-md-3"></div>

                


                </div>    
            </div>
            
            
            <div class="col-md-4"></div>
            <div class="col-md-12">
                <center>
                <p><br/>By signing up you agree to our <a href="tandc.html">Terms of Service</a> 
                    and <a href="pp.html">Privacy Policy</a></p>
                </center>    
            </div>    
        </div>    

    </div>    
</body>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>


    
    <br>
    <br>
    <br>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

        <hr>
        <div class="container text-center text-md-left"
             style= "background-color:white; font-size: 15px; height:100px;">
        
            <div class="row">
                    
                <div class="col-md-2 mx-auto">
                   <img src="./assets/img/ExMyB_Logo.png" style="width: 115px; height: 130px; margin-top: -42px;">
                   <br>
                  <p style="margin-top: -30px; padding-left: 21px;"> <small>© 2018-2019</small></p>
                </div>
                
                <div class="col-md-2 mx-auto">
                 <h5>About</h5>
                 <ul class="list-unstyled" >
                        <li><a href="about.html" style=" color :black;">About us</a></li>
                        <li><a href="bocards.html" style=" color :black;">For Business Owners</a></li>
                        <li><a href="incards.html" style=" color :black;">For Investors</a></li>
                 </ul>
                </div> 
               
                <div class="col-md-2 mx-auto">
                  <h5>Explore</h5>
                  <ul class="list-unstyled">
                    <li><a href="login.html" style=" color :black;">Login</a></li>
                    <li><a href="faq.html" style=" color :black;">FAQs</a></li>
                    <li><a href="blog.html" style=" color :black;">Blog</a></li>
                  </ul>
                </div>
                
                <div class="col-md-2 mx-auto">
                  <h5>Follow Us</h5>
                  <ul class="list-unstyled">
                  <li>
                    <a class="fab fa-facebook-f" 
                       href="https://www.facebook.com/ExMyB/" 
                       id="fb"></a>
                    <a class="fab fa-instagram" 
                     href="https://www.instagram.com/ExMyB/" 
                     id="insta"></a>
                    <a class="fab fa-linkedin-in" 
                     href="https://www.linkedin.com/company/expand-my-business/" 
                     id="lin">
                    </a>
                  </li> 
                  </ul>    
                </div>
        
                <div class="col-md-2 mx-auto">
                <h5>Contact</h5>
                <p style="color: #6a6e71">contact@exmyb.com</p>
                </div>
        
            </div>

        </div>     
</footer>    

</html>

