<!DOCTYPE html>
<html>
<footer>


    
        
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
            <hr>
        <br>
            <div class="container text-center text-md-left"
                 style= "background-color:white; font-size: 15px; height:100px;">
            
                <div class="row">
                        
                    <div class="col-md-2 mx-auto">
                       <img src="https://raw.githubusercontent.com/1cvam/1cvam.github.io/master/assets/img/ExMyB_Logo.png" style="width: 115px; height: 130px; margin-top: -42px;">
                       <br>
                      <p style="margin-top: -30px; padding-left: 21px;"> <small>© 2018-2019</small></p>
                    </div>
                    
                    <div class="col-md-2 mx-auto">
                     <h5>About</h5>
                     <ul class="list-unstyled" >
                            <li><a href="{%url 'about' %}" style=" color :black;">About us</a></li>
                            <li><a href="{%url 'startup'%}" style=" color :black;">For Business Owners</a></li>
                            <li><a href="{% url 'investor' %}" style=" color :black;">For Investors</a></li>
                     </ul>
                    </div> 
                   
                    <div class="col-md-2 mx-auto">
                      <h5>Explore</h5>
                      <ul class="list-unstyled">
                        <li><a href="{%url 'login' %}" style=" color :black;">Login</a></li>
                        <li><a href="{%url 'faq' %}" style=" color :black;">FAQs</a></li>
                        <li><a href="{%url 'blog' %}" style=" color :black;">Blog</a></li>
                      </ul>
                    </div>
                    
                    <div class="col-md-2 mx-auto">
                      <h5>Follow Us</h5>
                      <ul class="list-unstyled">
                      <li>
                        <a href="https://www.facebook.com/ExMyB/" id="fb"><img src="https://img.icons8.com/clouds/40/000000/facebook-new.png"></a>
                        <a href="https://www.instagram.com/ExMyB/" id="insta"><img src="https://img.icons8.com/clouds/40/000000/instagram-new.png"></a>
                        <a href="https://www.linkedin.com/company/expand-my-business/" id="lin"><img src="https://img.icons8.com/clouds/40/000000/linkedin.png"></a>
                      </li> 
                      </ul>    
                    </div>
            
                    <div class="col-md-2 mx-auto">
                    <h5>Contact</h5>
                    <p style="color: #6a6e71">contact@exmyb.com</p>
                    </div>
            
                </div>
    
            </div>   
            <br>  
    </footer>    
    
</html>