<!DOCTYPE html>
<html>
<footer>


    
        
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
            <hr>
            <br>
        <br>
        <br>
            <div class="container text-center text-md-left"
                 style= "background-color:white; font-size: 15px; height:100px;">
            
                <div class="row">
                        
                    <div class="col-md-2 mx-auto">
                       <img src="https://raw.githubusercontent.com/1cvam/1cvam.github.io/master/assets/img/ExMyB_Logo.png" style="width: 115px; height: 130px; margin-top: -42px;">
                       <br>
                      <p style="margin-top: -30px; padding-left: 21px;"> <small>© 2018-2019</small></p>
                    </div>
                    
                    <div class="col-md-2 mx-auto">
                     <h5>About</h5>
                     <ul class="list-unstyled" >
                            <li><a href="about.html" style=" color :black;">About us</a></li>
                            <li><a href="bocards.html" style=" color :black;">For Business Owners</a></li>
                            <li><a href="incards.html" style=" color :black;">For Investors</a></li>
                     </ul>
                    </div> 
                   
                    <div class="col-md-2 mx-auto">
                      <h5>Explore</h5>
                      <ul class="list-unstyled">
                        <li><a href="login.html" style=" color :black;">Login</a></li>
                        <li><a href="faq.html" style=" color :black;">FAQs</a></li>
                        <li><a href="blog.html" style=" color :black;">Blog</a></li>
                      </ul>
                    </div>
                    
                    <div class="col-md-2 mx-auto">
                      <h5>Follow Us</h5>
                      <ul class="list-unstyled">
                      <li>
                        <a class="fab fa-facebook-f" 
                           href="https://www.facebook.com/ExMyB/" 
                           id="fb"></a>
                        <a class="fab fa-instagram" 
                         href="https://www.instagram.com/ExMyB/" 
                         id="insta"></a>
                        <a class="fab fa-linkedin-in" 
                         href="https://www.linkedin.com/company/expand-my-business/" 
                         id="lin">
                        </a>
                      </li> 
                      </ul>    
                    </div>
            
                    <div class="col-md-2 mx-auto">
                    <h5>Contact</h5>
                    <p style="color: #6a6e71">contact@exmyb.com</p>
                    </div>
            
                </div>
    
            </div>     
    </footer>    
    
    </html>
    