<!DOCTYPE Html>
<html>
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/head.css">  
    <link href='https://fonts.googleapis.com/css?family=Maven Pro' rel='stylesheet'>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
      *{
    font-family: Maven Pro;
}
#home_1, #home_2, #home_3, #home_4, #home_5, #home_6, #home_21, #home_22, #home_31, #home_32{
    color: black;
    font-size: 14px;
}
#home_1:hover,#home_2:hover,#home_3:hover, #home_4:hover, #home_5:hover, #home_6:hover,
#home_21:hover, #home_22:hover, #home_31:hover, #home_32:hover {
    color: #8ac832;
    cursor: pointer;
}
.bo-content, .in-content{
    
    height: auto;
    padding: 2px;
    list-style: none;
    border-top: 2px solid #8ac832;
    text-align: left;
    
   
}


    </style>
</header>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg  navbar-dark" style="height:100px">
        <a class="navbar-brand">
          <img href="{%url 'home' %}" src="https://raw.githubusercontent.com/1cvam/1cvam.github.io/master/assets/img/ExMyB_Logo.png" style="margin-top: -10px; width: 150px;height: auto;">
        </a>
        <button font-color="black"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon">  <i style="font-size:24px" class="fa">&#xf0c9;</i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{%url 'index' %}" id="home_1"><b>HOME</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="home_2"><b>BUSINESS OWNER</b></a>
                  <ul class="dropdown-menu bo-content" style="margin-left: 147px;
                  border: transparent;
                  border-top: 5px solid #8ac832;
                  border-radius: 0px;">
                    <li>
                      <a class="nav-link dropdown-item" href="{% url 'investor' %}" id="home_31"><b>Connect with Investor</b></a> 
                      
                    </li>
                    <li>
                        <a class="nav-link dropdown-item" href="{%url 'startup'%}" id="home_32"><b>Connect with Fellow Business Owner</b></a>
                    </li>
                  </ul>
              </li>    
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="home_3"><b>INVESTOR</b></a>
                <ul class="dropdown-menu in-content" style="margin-left: 285px;
                border: transparent;
                border-top: 5px solid #8ac832;
                border-radius:0px;">
                  <li>
                    <a class="nav-link dropdown-item" href="{% url 'investor' %}" id="home_31"><b>Connect with Business Owner</b></a> 
                    
                  </li>
                  <li>
                      <a class="nav-link dropdown-item" href="{%url 'startup'%}" id="home_32"><b>Connect with Fellow Investor</b></a>
                  </li>
                </ul>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="{%url 'about' %}" id="home_4"><b>ABOUT</b></a>
              </li> 
            <li class="nav-item">
              <a class="nav-link" href="{%url 'blog' %}" id="home_5"><b>BLOG</b></a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="{%url 'faq' %}" id="home_6"><b>FAQ</b></a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="{%url 'services' %}" id="home_6"><b>SERVICES</b></a>
              </li> 

                
            </ul> 
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">



                {% if user.is_authenticated %}
                <button style="width: 86px;
                margin-top: -10px;
                height: auto;
                padding: 0px;
                background-color: #8ac832;
                color: white;
                border: tr{% url 'investor' %}ansparent;
                font-size: 14px;">
                  <a class="nav-link" href="{%url 'logout' %}" style="color:white;"><b>Logout</b></a>
                 </button> 
               
              {% else %}
              <button style="width: 86px;
              margin-top: -10px;
              height: auto;
              padding: 0px;
              background-color: #8ac832;
              color: white;
              border: transparent;
              font-size: 14px;">
                <a class="nav-link" href="{%url 'login' %}" style="color:white;"><b>Login</b></a>
               </button> 
              {% endif %}
              


                






            </li>
          </ul>
        </div>  
    </nav>
    
</div>    


</body>

</html>