<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 170%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Admin</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Bat</a></li>
        <li><a href="#">Add user </a></li>
        <li><a href="#section3">Bat results </a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Admin <small>exmyb.com</small></h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">Bat</a></li>
        <li><a href="#section3">Add user </a></li>
        <li><a href="#section3">Bat results </a></li>
        <li><a href="#section3">Logout</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body"><h4>Users</h4>
            <p>1 Million</p> 
          </div>
        </div>
        </div>
        <div class="col-sm-3">
         <div class="panel panel-default">
            <div class="panel-body">
            <h4>Pages</h4>
            <p>100 Million</p> 
          </div>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body">
            <h4>No of Bats</h4>
            <p>10 Million</p> 
          </div>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body">
            <h4>traffic</h4>
            <p>30%</p> 
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-sm-6">
          <div class="well">
            <h3><p>Notifications </p> </h3>
            <hr>
            <p>1. Rohan commented on the blog </p> 
            <hr>
            <p>2. Send a message on telegram</p> 
            <hr>
            <p>3. yug , tushar , ram and geetha  gave bat today</p> 
            <hr>
            <p>4. an mail from somya </p> 
            
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h3><p>Subscribers</p> </h3>
             
             <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>

      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>

    </tbody>
  </table>
             
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
